<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Logiweb Application</display-name>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml,/WEB-INF/security.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>



    <!--<filter>-->
    <!--<filter-name>LoggerFilter</filter-name>-->
    <!--<filter-class>ru.tsystems.shalamov.web.LoggerFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter>-->
        <!--<filter-name>AuthenticationFilter</filter-name>-->
        <!--<filter-class>ru.tsystems.shalamov.web.LoginFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
    <!--<filter-name>LoggerFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter-mapping>-->
        <!--<filter-name>AuthenticationFilter</filter-name>-->
        <!--<url-pattern>/secure/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>LoginServlet</servlet-name>-->
        <!--<servlet-class>ru.tsystems.shalamov.web.LoginServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet>-->
        <!--<servlet-name>LogoutServlet</servlet-name>-->
        <!--<servlet-class>ru.tsystems.shalamov.web.LogoutServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet>-->
        <!--<servlet-name>DriverManagementServlet</servlet-name>-->
        <!--<servlet-class>ru.tsystems.shalamov.web.DriverManagementServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet>-->
        <!--<servlet-name>OrderManagementServlet</servlet-name>-->
        <!--<servlet-class>ru.tsystems.shalamov.web.OrderManagementServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet>-->
        <!--<servlet-name>TruckManagementServlet</servlet-name>-->
        <!--<servlet-class>ru.tsystems.shalamov.web.TruckManagementServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet>-->
        <!--<servlet-name>AssignmentServlet</servlet-name>-->
        <!--<servlet-class>ru.tsystems.shalamov.web.AssignmentServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet>-->
        <!--<servlet-name>DriverInfoServlet</servlet-name>-->
        <!--<servlet-class>ru.tsystems.shalamov.web.DriverInfoServlet</servlet-class>-->
    <!--</servlet>-->

    <!--&lt;!&ndash;LOGIN LOGOUT&ndash;&gt;-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>LoginServlet</servlet-name>-->
        <!--<url-pattern>/login</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>LogoutServlet</servlet-name>-->
        <!--<url-pattern>/logout</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--&lt;!&ndash;DRIVERS&ndash;&gt;-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>DriverManagementServlet</servlet-name>-->
        <!--<url-pattern>/secure/showDrivers</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>DriverManagementServlet</servlet-name>-->
        <!--<url-pattern>/secure/addDriver</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>DriverManagementServlet</servlet-name>-->
        <!--<url-pattern>/secure/deleteDriver</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>DriverManagementServlet</servlet-name>-->
        <!--<url-pattern>/secure/editDriver</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>DriverManagementServlet</servlet-name>-->
        <!--<url-pattern>/secure/updateDriver</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--&lt;!&ndash;ORDERS&ndash;&gt;-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>OrderManagementServlet</servlet-name>-->
        <!--<url-pattern>/secure/showOrders</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>OrderManagementServlet</servlet-name>-->
        <!--<url-pattern>/secure/addOrder</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>OrderManagementServlet</servlet-name>-->
        <!--<url-pattern>/secure/deleteOrder</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--&lt;!&ndash;TRUCKS&ndash;&gt;-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>TruckManagementServlet</servlet-name>-->
        <!--<url-pattern>/secure/showTrucks</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>TruckManagementServlet</servlet-name>-->
        <!--<url-pattern>/secure/addTruck</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>TruckManagementServlet</servlet-name>-->
        <!--<url-pattern>/secure/deleteTruck</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--&lt;!&ndash;ASSIGNMENT&ndash;&gt;-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>AssignmentServlet</servlet-name>-->
        <!--<url-pattern>/secure/showAssignments</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>AssignmentServlet</servlet-name>-->
        <!--<url-pattern>/secure/assign</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>AssignmentServlet</servlet-name>-->
        <!--<url-pattern>/secure/constructAssignment</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--&lt;!&ndash;DRIVER INFO&ndash;&gt;-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>DriverInfoServlet</servlet-name>-->
        <!--<url-pattern>/driverInfo</url-pattern>-->
    <!--</servlet-mapping>-->

</web-app>
